[Unit]
Description=Daily Football Model Training Timer
Requires=football_train.service

[Timer]
OnCalendar=*-*-* 08:00:00
Persistent=true

[Install]
WantedBy=timers.target
