adjustText==1.3.0
argcomplete==3.6.2
attrs==25.4.0
autocommand==2.2.2
btrfsutil==6.17.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.2.1
colorama==0.4.6
cryptography==46.0.3
cupshelpers==1.0
dbus-python==1.4.0
distlib==0.4.0
et_xmlfile==2.0.0
fastjsonschema==2.21.2
filelock==3.20.0
geopandas==1.1.2
gpg==2.0.0b25
gps==3.27.3
hyprshade==4.0.1
idna==3.11
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
lark==1.3.1
lit==21.1.6.dev0
markdown-it-py==4.0.0
mdurl==0.1.2
more-itertools==10.8.0
netsnmp-python==1.0a1
nftables==0.1
openpyxl==3.1.5
OpenTimelineIO==0.18.1
packaging==25.0
platformdirs==4.5.1
poetry-core==2.2.1
psutil==7.1.3
pwquality==1.4.5
pyaaf2==1.7.1
pycairo==1.29.0
pycparser==2.23
pycups==2.0.4
Pygments==2.19.2
PyGObject==3.54.5
pyogrio==0.12.1
pyproj==3.7.2
pyxdg==0.28
PyYAML==6.0.3
Reflector==2023.6.28.0.36.1
requests==2.32.5
rich==14.3.2
setuptools==80.9.0
shapely==2.1.2
shtab==1.8.0
six==1.17.0
smbus==1.1
tartube==2.5.164
termcolor==3.2.0
terminaltexteffects==0.14.2
tldr==3.4.3
tomlkit==0.13.3
trash-cli==0.24.5.26
typing_extensions==4.15.0
ufw==0.36.2
urllib3==2.6.2
virtualenv==20.35.4
wheel==0.45.1
xmltodict==1.0.2
yq==3.4.3
yt-dlp==2025.12.8
